<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HttpClusterServletProxyApp</display-name>
  <servlet>
  	<servlet-name>HttpClusterServlet</servlet-name>
  	<servlet-class>weblogic.servlet.proxy.HttpClusterServlet</servlet-class>
  	<init-param>
  		<param-name>WebLogicCluster</param-name>
  		<param-value>web01:8001|web01:8002|web02:8001|web02:8002</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HttpClusterServlet</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping> 
</web-app>
